body {
  background: #fefefe;
  height: 100%;
  width: 100%;
}

footer {
  width: 80%;
  margin-left: 10%;
}

.carousel-inner {
  height: 500px;
}

.carousel-inner img {
  transform: translateY(-30%);
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  text-shadow: 1px 1px 10px black;
}

